.sidenav {
  background-color: rgba(37, 117, 252, 1);
  width: auto; /* Ancho del sidebar */
  position: fixed; /* Fija el sidebar en la ventana */
  height: 100%; /* Ocupa toda la altura de la ventana */
  left: 0; /* Alinea el sidenav en el borde izquierdo */
  transition: width 0.3s; /* Agrega una transición para un efecto suave */
  overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es largo */
  z-index: 1; /* Asegura que esté por encima del contenido principal */
  padding-top: 50px;

}

.icon{
  margin-right: 10px; /* Ajusta el valor según el espacio deseado */
  align-items: center;
}

/* Mostrar el sidebar en dispositivos móviles */
@media (max-width: 768px) {
  .sidebar {
    left: 0; /* Muestra el sidebar al hacer clic en el botón de menú */
  }
}

.item{
  padding-top: 60px;
}