<mat-sidenav-container class="sidenav">

    <mat-nav-list class="item" *ngIf="!isMobile">

  
      <a mat-list-item [routerLink]="['/suscripciones']">
        <mat-icon class="icon"> category</mat-icon>Suscripciones
      </a>

      <a mat-list-item  [routerLink]="['/soporte']">
        <mat-icon class="icon">help</mat-icon>
        Soporte</a>

        <a  mat-list-item  [routerLink]="['/galeria']">
        <mat-icon class="icon">help</mat-icon>
        imagenes</a>

    </mat-nav-list>
    

 
</mat-sidenav-container>