
  .icon-button {
      margin-left: 50px; /* Espacio entre los botones de icono */
      font-size: 40px; /* Tamaño del icono */
  }
  
  .label-header {
    display: block;
    margin-bottom: 5px; /* Agrega espacio entre la etiqueta y el input */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 10px;

}

/*CONTENDOR DE LOS BOTONES */

.button-container {
  border: 1px solid #ccc; /* Borde con color gris */
  border-radius: 10px; /* Bordes suavizados */
  text-align: center; /* Centro del contenido */
  padding: 10px; /* Espacio interno */
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  flex-wrap: wrap; /* Asegura que los botones se envuelvan en múltiples líneas si es necesario */
}



  /*Estilos Generales*/
  
  
  input,select,button {
      margin-top: 10px;
      border-color: grey;
      border-width: 1px;
  
  
  }
  
  .editar{
      color: #3498db;
      cursor: pointer;
  }
  
  
  
  .eliminar{
      color: #d9534f; 
      cursor: pointer;
  }
  
  #formulario {
      background-color: #f7f7f7; /* Color de fondo suave */
      padding: 10px; /* Espaciado interno */
      border: 1px solid #ccc; /* Borde del formulario */
      border-radius: 15px; /* Bordes redondeados */
      height: auto;

    }
    
    .form-control {
      border: 1px solid #ccc; /* Borde de los campos de entrada */
      border-radius: 5px; /* Bordes redondeados en los campos de entrada */
    }
    
    .btn-primary {
      background-color: #3498db; /* Color de fondo del botón Guardar/Editar */
      border: none; /* Sin borde */
      border-radius: 5px; /* Bordes redondeados en el botón */
      color: #fff; /* Texto en color blanco */
      margin-left: 10px;
      font-size: 16px; /* Tamaño de fuente */
   
    }
    
    .btn-secondary {
      background-color: #ccc; /* Color de fondo del botón Cancelar */
      border: none; /* Sin borde */
      border-radius: 5px; /* Bordes redondeados en el botón */
      color: #fff; /* Texto en color blanco */
    }
    
    .text-danger {
      color: #d9534f; /* Color de texto rojo para los mensajes de error */
    }
    

    //ESTILOS PARA LA TABLA - TIPO ADAPTATIVE 

/* Estilo para dispositivos móviles */
/* Estilo para dispositivos móviles */
@media (max-width: 767px) {
  .table-responsive {
      width: 100%;
      overflow-x: auto;
  }

  .table {
      width: 100%;
  }

  .table thead {
      display: none; /* Ocultar el encabezado en dispositivos móviles */
  }

  .table tbody tr {
      display: block;
      margin-bottom: 1em;
      border: 1px solid #ccc;
  }

  .table tbody td {
      text-align: left;
      font-weight: bold;
      padding: 0.5em;
  }

  .table tbody td:before {
      content: attr(data-label);
      display: inline-block;
      font-weight: normal;
      margin-right: 0.5em;
  }

  .table tbody td:last-child {
      border: 0; /* Eliminar el borde en la última celda */
  }

  .table tbody td a {
      display: block;
      text-align: center;
      margin-top: 1em;
  }

  /* Estilo para el acordeón */
  .accordion {
      cursor: pointer;
  }

  .accordion-content {
      display: none;
      padding: 10px;
  }
}


/******************CARD****/

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;

  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card-text{
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }


  .card-details {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.card-name{
  font-size: 12px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}


.card-category, .card-price, .card-duration, .card-sigla , .card-description{
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}