<h1>Menu Suscripciones</h1>


<div class="mat-toolbar custom-style">
    <button mat-icon-button class="icon-button">
        <mat-icon>card_giftcard</mat-icon>
    </button>

    <button mat-icon-button class="icon-button">
        <mat-icon>subscriptions</mat-icon>
    </button>

    <button mat-icon-button class="icon-button">
        <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button class="icon-button">
        <mat-icon>help</mat-icon>
    </button>

    <button mat-icon-button class="icon-button">
        <mat-icon>search</mat-icon>
    </button>

</div>


<div class="conainer">
    <div class="row">


        <div class="col-sm-8" style="background-color: #dcdcde; padding: 10px;">
                <div class="subscription-card">
                    <h2>Plan Básico</h2>
                    <p class="price">$59.900/mes</p>
                    <p class="duration">Duración: 1 mes</p>
                    <p class="features">Características:<br> - Acceso a contenido premium<br> - Soporte por correo electrónico</p>
                    <a class="waves-effect waves-light btn subscribe-button">Suscribirse</a>

                </div>

                <div class="subscription-card">
                    <h2>Plan Premium</h2>
                    <p class="price">$159.900/mes</p>
                    <p class="duration">Duración: 3 meses</p>
                    <p class="features">Características:<br> - Acceso ilimitado a todo el contenido<br> - Soporte premium 24/7</p>
                    <a class="waves-effect waves-light btn subscribe-button">Suscribirse</a>

                </div>
        </div>
        
        <!-- aca va lista de suscripciones actuales -->
        <div class="col-sm-4" style="background: whitesmoke; padding: 10px;">
            <div>
                    <h2>Lista de Suscripciones Actuales</h2>
                    <div class="card">
                        <div class="card-content">
                            <h3>Tu plan actual es:</h3>
                            <span class="card-title">' . $row["tipo_plan"] . '</span>
                            <p><strong>Fecha de Inicio:</strong> ' . $row["fecha_inicio"] . '</p>
                            <p><strong>Fecha Final:</strong> ' . $row["fecha_final"] . '</p>
                            <p><strong>Estado:</strong> ' . $row["estado"] . '</p>
                        </div>
                    </div>
            
            </div>
        
        </div>

    </div>

    <br>
    <div>
    <strong>Lista de servicio disponibles</strong>
    </div>
    <br>

    <div>
   
        <div class="table-container">
            <table class="responsive-table">
              <thead>
                <tr>
                  <th>Servicio</th>
                  <th>Precio</th>
                  <th>Disponibilidad</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Servicio 1</td>
                  <td>$20</td>
                  <td><i class="fas fa-check-circle available"></i></td>
                </tr>
                <tr>
                  <td>Servicio 2</td>
                  <td>$30</td>
                  <td><i class="fas fa-check-circle available"></i></td>
                </tr>
                <tr>
                  <td>Servicio 3</td>
                  <td>$25</td>
                  <td><i class="fas fa-times-circle unavailable"></i></td>
                </tr>
                <!-- Agrega más filas según tus servicios -->
              </tbody>
            </table>
          </div>
    </div>
