<!--  este modulo fue rediseñado  -->
<!--1. crear la tabla responsive 
  2. crear el formulario 
  3. asignar los elementos html que recibiran la consulta sql
  4. Elementos formulario mostrar(1), [(ngModel)]="modelo.item"-->
  <div class="button-container">
    <button class="btn btn-primary" (click)="mostrar(1)">Agregar servicios
      <mat-icon>library_add</mat-icon>
    </button>

    <button class="btn btn-primary" (click)="mostrarLosServicios()">Ver Servicios <mat-icon>dashboard</mat-icon></button>
    <button class="btn btn-primary" (click)="mostrarMisServicios()">Mis servicios
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <br>
  <br>
  <!-- formulario de Servicio-->
<div class="col-lg-12" id="formulario" *ngIf="verf == true">
  <div class="row">
    <div class="col-lg-4">
      <label class="label-header" for="descripcion">Nombre de servicio</label>
      <input type="text" id="nombre" class="form-control" [(ngModel)]="modelServicio.nombre" placeholder="Ingrese nombre de servicio">
      <span style="color: brown;" *ngIf="validaNombre == false">Nombre Servicio</span>
    </div>
    <div class="col-lg-4">
      <label class="label-header"  for="descripcion">Descripcion</label>
      <input type="text" id="descripcion" class="form-control" [(ngModel)]="modelServicio.descripcion" placeholder="Ingrese nombre de servicio">
      <span style="color: brown;" *ngIf="validaDescripcion == false">Descripcion</span>
    </div>
    <div class="col-lg-4">
      <label class="label-header" for="FO_areas">Areas</label>
      <select id="FO_areas" class=" form-control form-select" [(ngModel)]="modelServicio.FO_areas">
      <option value="0" label="Seleccionar area">Seleccione el area</option>
      <option *ngFor="let itema of area"  value="{{itema.id_areas}}" label="{{itema.nombrearea}}">{{itema.nombrearea}}</option>
      </select>     
      <span style="color: brown;" *ngIf="validaFO_areas== false">Insertar tipo</span>
    </div>
    <div class="col-lg-4">
      <label class="label-header"  for="precio">Precio</label>
      <input type="text" id="precio" class="form-control" [(ngModel)]="modelServicio.precio" placeholder="Ingrese el precio">
    </div>
    <div class="col-lg-4">
      <label class="label-header"  for="moneda">Moneda</label>
      <select id="FO_moneda" class="form-control form-select" [(ngModel)]="modelServicio.FO_moneda" placeholder="Pesos, dolares..">
      <option value="0" label="Seleccionar moneda">Seleccione la moneda</option>
      <option *ngFor="let itemo of moneda"  value="{{itemo.id_moneda}}" label="{{itemo.sigla}}">{{itemo.moneda}}</option>
      </select>
    </div>
    <div class="col-lg-4">
      <label class="label-header"  for="duracion">Duración</label>
      <input type="text" id="duracion" class="form-control" [(ngModel)]="modelServicio.duracion" placeholder="Ingrese la duración">
    </div>
    <!--     <div class="col-lg-4">
      <label for="Imagen" class="label-header">Imagen</label>
      <input type="text" id="Imagen" class="form-control" [(ngModel)]="modelServicio.Imagen" placeholder="Ingrese la URL de la imagen">
      <div class="form-group">
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
       </div>
      </div> -->
    <br>
    <div class="col-lg-4">
      <div>
        <label  class="label-header"  for="contacto">contacto</label>
        <input type="text" id="contacto" class="form-control" [(ngModel)]="modelServicio.contacto" placeholder="Ingresa tu celular" aria-label="NO">
      </div>
      <div class="col-lg-12">
        <button *ngIf="beditar == false" class="btn btn-primary" (click)="ingresar()">Guardar</button>
        <button *ngIf="beditar == true" class="btn btn-primary" (click)="editar()">Editar</button>
        <button class="btn btn-secondary" (click)="mostrar(0)">Cancelar</button>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
<br>
<br>


<!--------------------------------------- card -->

<section>
  <div class="container">

    <div class="row">
      <div *ngFor="let item of tdservicios"class="col-md-6 col-lg-3 mb-4">
        <div class="card mb-3 ">
          
            <img src="../../../assets/dist/img/Cuadro_gris.png" class="card-img-top" alt="...">
            <div class="card-details">
              <p class="card-name">{{ item.nombre }}</p>
              <p class="card-description">Descripción: {{ item.descripcion }}</p>
              <p class="card-category">Categoría: {{ item.nombrearea }}</p>
              <p class="card-price">{{ item.precio }}</p>
              <p class="card-sigla">{{ item.sigla }}</p>
              <p class="card-duration">Duración: {{ item.duracion }}</p>
              <a href="#" class="btn btn-outline-info"><i class="fas fa-comment-dots"></i></a>
             <div class="btn">
              <a (click)="cargarDatos(item, item.id_servicio)"  *ngIf="item.creador === usuarioLoggeado.nombre">
                <span class="fas fa-edit fa-2x editar" title="editar"></span>
              </a>
              <a (click)="preguntar(item.id_servicio, item.nombre)" *ngIf="item.creador === usuarioLoggeado.nombre">
                <span class="fas fa-eraser fa-2x eliminar" title="eliminar"></span>
              </a>
            </div>
            </div>
        </div>
      </div>
  </div>

<br>  
<br>
  <!-- Tercer div con tabla para mostrar servicios generales -->
<div class="container">
  <div class="col-lg-10">
    <div *ngIf="mostrarTabla" class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Moneda</th>
            <th>Duración</th>
            <th>Imagen</th>
            <th>Contacto</th>
            <th>Requisitos</th>
            <th>Disponibilidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tdservicios" class="accordion">
            <td data-label="Nombre">{{ item.nombre }}</td>
            <td data-label="Descripción">{{ item.descripcion }}</td>
            <td data-label="Categoría">{{ item.nombrearea }}</td>
            <td data-label="Precio">{{ item.precio }}</td>
            <td data-label="Moneda">{{ item.moneda }}</td>
            <td data-label="Duración">{{ item.duracion }}</td>
            <td data-label="Imagen">{{ item.Imagen }}</td>
            <td data-label="Destacar">{{ item.contacto }}</td>
            <td data-label="Requisitos">{{ item.requisitos }}</td>
            <td data-label="Disponibilidad">{{ item.disponibilidad }}</td>
            <td data-label="Accion">
              <a (click)="cargarDatos(item, item.id_servicio)">
              <span class="fas fa-edit fa-2x editar" title="Editar"></span>
              </a>
              <a (click)="preguntar(item.id_servicio, item.nombre)">
              <span class="fas fa-eraser fa-2x eliminar" title="Eliminar"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

