.custom-style {
    background-color: #3498db;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center; /* Centro horizontalmente */
    align-items: center; /* Centro verticalmente */
    padding: 20px; /* Espacio interior */
   
   
  }
  
  .icon-button {
    margin-left: 50px; /* Espacio entre los botones de icono */
    font-size: 40px; /* Tamaño del icono */
  }
  

  /*stilos para la seccion de suscripcion*/

  /* Estilos para el componente de suscripción */
.subscription-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 300px;
    display: inline-block;
    text-align: center;
/*efectos fondo */
    background: linear-gradient(to bottom, #46c4fc, #811abc); /* Cambia los colores según tus preferencias */
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir toda la ventana */
    background-attachment: fixed; /* Fija el fondo para que no se desplace con el contenido */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    color: black; /* Color de texto en el fondo */


}

.subscription-card h2 {
    font-size: 24px;
    margin: 0;
}

.price {
    font-size: 20px;
    margin: 10px 0;
}

.duration {
    font-size: 16px;
    margin: 5px 0;
}

.features {
    font-size: 14px;
    margin: 10px 0;
}

.subscribe-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribe-button:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 11px;
  }


  .section{

    background-color: red;
  }

  .icon-example{

      font-size: 48px;  /* Preferred icon size */
      background-color: black;
      color: white;
  
  }


  .table-container {
    overflow-x: auto;
  }
  
  /* Estilos de la tabla */
  table {
    width: 50%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para iconos de disponibilidad */
  .available {
    color: green;
  }
  
  .unavailable {
    color: red;
  }
  
  /* Estilos para hacer la tabla responsive */
  @media (max-width: 600px) {
    table {
      border: 0;
    }
    table thead {
      display: none;
    }
    table tr {
      margin-bottom: 10px;
      display: block;
      border: 1px solid #ccc;
    }
    table td {
      display: block;
      text-align: right;
    }
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }