<h1>Menu Soporte</h1>

<div class="container">
  <div class="marco" style="margin-top: 20px;">
sada
  </div>
</div>
<br>

<div class="container col-12">
  <h1>Generales</h1>
        <button class="btn btn-primary" (click)="consultas()">recuento</button><br>
<br>
        <table class="table table-hover">
            <tr>
                <th>fecha_creacion</th>
                <th>contacto</th>
                <th>numero</th>
                <th>origen</th>
                <th>proceso</th>
                <th>estado</th>
                
            </tr>
            <tr *ngFor="let item of soportes">
                <td>{{item.fecha_creacion}}</td>
                <td>{{item.contacto}}</td> 
                <td>{{item.numero}}</td> 
                <td>{{item.origen}}</td> 
                <td>{{item.proceso}}</td> 
                <td>{{item.prioridad}}</td> 

            </tr>
        </table>
</div>
