<main>
  <div class="card">
    <div class="card-body">
      <h3 class="fs-2 text-body-emphasis">¿Necesitas ayuda?</h3>
      <p style="font-size: 16px;">
        ¡Estamos aquí para respaldarte en cada paso! Nuestra aplicación está diseñada para brindarte una experiencia sin problemas. Encuentra instrucciones detalladas, documentación exhaustiva y una variedad de recursos útiles para aprovechar al máximo todas las funcionalidades.
      </p>
      <p style="font-size: 16px;">
        Queremos que te sientas respaldado en tu viaje con nosotros. Desde consejos sobre cómo comenzar hasta soluciones a problemas comunes, estamos comprometidos a proporcionarte el apoyo que necesitas. Siempre estamos disponibles para responder tus preguntas y asegurarnos de que saques el máximo provecho de nuestra aplicación. ¡Tu satisfacción es nuestra prioridad.
      </p>
      <button class="btn btn-primary" (click)="mostrar(1)">Contactar</button>
    </div>
  </div>
  <br><br>
  <div class="row g-5">
    <div class="col-md-6">
      <h2 class="text-body-emphasis">Recursos Compartidos</h2>
      <p>Somos una comunidad en crecimiento por lo que todos tus aportes son valiosos</p>
      <ul class="list-unstyled ps-0">
        <li>
          <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/icons-font" rel="noopener" target="_blank">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#arrow-right-circle"/>
            </svg>
            Quiero colaborar 
          </a>
        </li>
        <li>
          <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/parcel" rel="noopener" target="_blank">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#arrow-right-circle"/>
            </svg>
            Busco colaboración
          </a>
        </li>
        <li>
          <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/vite" rel="noopener" target="_blank">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#arrow-right-circle"/>
            </svg>
            Quiero realizar una donacion 
          </a>
        </li>
        <li>
          <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/webpack" rel="noopener" target="_blank">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#arrow-right-circle"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2 class="text-body-emphasis">Guia</h2>
      <p>Lea instrucciones y documentación más detalladas sobre cómo usar o contribuir a mejorar la aplicacion</p>
      <ul class="list-unstyled ps-0">
        <li>
          <a class="icon-link mb-1" href="../getting-started/introduction/">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#arrow-right-circle"/>
            </svg>
            Ideas para construir un portafolio profesional
          </a>
        </li>
        <li>
          <a class="icon-link mb-1" href="../getting-started/webpack/">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#arrow-right-circle"/>
            </svg>
            Aprender a resolver Problemas Útiles
          </a>
        </li>
        <li>
          <a class="icon-link mb-1" href="../getting-started/parcel/">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#arrow-right-circle"/>
            </svg>
            Formación y Tutoría
          </a>
        </li>
        <li>
          <a class="icon-link mb-1" href="../getting-started/vite/">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#arrow-right-circle"/>
            </svg>
            Oportunidades para innovar
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
<!-- CREAR TICKET 
  -->
<div class="col-lg-9" id="formulario" *ngIf="verf == true">
  <div class="row">
    <div class="col-lg-6 align-items-center">
      <label for="contacto">Correo Electrónico:</label>
      <input type="email" id="contacto" class="form-control" [(ngModel)]="msoporte.contacto" placeholder="Ingrese su correo Electrónico">
      <span style="color: brown;" *ngIf="validaContacto == false">Correo invalido</span>
    </div>
    <div class="col-lg-6">
      <label class="input-header" for="categoria">Seleccione la falla que presenta:</label>
      <select class="form-control form-select" [(ngModel)]="msoporte.categoria"  aria-label="Default select example">
      <option value="tecnica">Falla Técnica</option>
      <option value="accesos">Falla de Accesos</option>
      <option value="seguridad">Falla de Seguridad</option>
      <option value="generales">Falla General</option>
      </select>
      <span style="color: brown;" *ngIf="validaCategoria == false">Seleccione tipo de falla</span>
    </div>
    <div class="col-lg-6">
      <div>
        <label for="descripcion">Describa el problema </label>
        <input class="form-control"  type="text" id="descripcion" name="descripcion">
      </div>
      <span style="color: brown;" *ngIf="validaTipo == false">Insertar tipo</span>
    </div>
    <div class="col-lg-12">
      <button *ngIf="beditar == false" class="btn btn-primary" (click)="ingresar()">Enviar</button>
      <button *ngIf="beditar == true" class="btn btn-primary" (click)="editar()">Editar</button>
      <button class="btn btn-secondary" (click)="mostrar(0)">Cancelar</button>
    </div>
  </div>
</div>