

.container.col-12 {
    max-width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 20px;


}



@media screen and (max-width: 760px) {
    .navbar a {
      float: none;
      display: flex;
    }
  }