


@media screen and (max-width: 760px) {
    .navbar a {
      float: none;
      display: flex;
    }
  }

.main{
  margin-top: 80px; /* Ajusta la altura según la altura de tu encabezado */
  margin-left: 0%; 
 
}