
//---------------------------------ESTILO PARA BOTONES ///////////
input,select,button {
    margin-top: 10px;
    border-color: grey;
    border-width: 1px;
    text-align: center;
    margin-bottom: 10PX;

}

/*CONTENDOR DE LOS BOTONES */


.button-container button {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido verticalmente (icono y texto) */
  text-align: center; /* Centra el texto horizontalmente */
  width: 150px; /* Ancho fijo de los botones */
  margin: 10px;

}


.button-container {
  border: 1px solid #ccc; /* Borde con color gris */
  border-radius: 10px; /* Bordes suavizados */
  text-align: center; /* Centro del contenido */
  padding: 10px; /* Espacio interno */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centrado vertical */
  flex-wrap: wrap; /* Asegura que los botones se envuelvan en múltiples líneas si es necesario */
  
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column; /* Colocar los elementos en una sola columna */
    text-align: center; /* Centrar el texto en dispositivos móviles */
  }
}

.editar{
    color: #3498db;
    cursor: pointer;
}


.eliminar{
    color: #d9534f;
    cursor: pointer;
}
.btn-primary {
  background-color: #3498db; /* Color de fondo del botón Guardar/Editar */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados en el botón */
  color: #fff; /* Texto en color blanco */
  margin-left: 10px;
  font-size: 16px; /* Tamaño de fuente */

  }
  
  .btn-secondary {
    background-color: #ccc; /* Color de fondo del botón Cancelar */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados en el botón */
    color: #fff; /* Texto en color blanco */
  }
  
  .text-danger {
    color: #d9534f; /* Color de texto rojo para los mensajes de error */
  }

  //---------------------------------ESTILO PARA CONTENEDORES ///////////


    //---------------------------------ESTILO PARA CARD ///////////


.icon-container a {
  margin-right: 10px; /* Separacion de elementos*/
}

.spacer{
  margin-top: 50px;
 }

