<!--  saludo -->
<h1>Bienvenido</h1>



<!-----------ENCABEZADO--------------------------------------------------->
<div class="card d-flex justify-content-center align-items-center" >

   
  <div class="text-center">

    <img src="../../../assets/dist/img/artivo-logo.png" class="mb-3 rounded-circle" style="width: 150px;">
    <div class="card-body text-center">
      <p class="card-title">{{ usuarioLoggeado.nombre }}</p>
      <p class="card-text">{{ usuarioLoggeado.usuario }}</p>
      <p class="card-text">{{ usuarioLoggeado.tipo }}</p>
  
    </div>
    <div class="icon-container">
      <a href="#"><i class="fab fa-linkedin fa-2x"aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
    </div>


    <!----------- NAVEGACION --------------------------------------------------->
    <div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" (click)="verPerfil()">Perfil</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="verPortafolio()">Portafolio</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="verServicios()">Servicios</button>
        </div>
      </div>
    </div>
  </div>
</div>

<span class="spancer"></span>

  