

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(to right, rgba(37, 117, 252, 1), rgba(106, 17, 203, 1))
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 60px; 
  width: 60px;/* Ajusta la altura del logotipo según tus necesidades */
  margin-right: 40px; /* Agrega margen derecho para separar el logotipo de los elementos de navegación */
}
.nav-list {
  display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  margin-left: auto; /* Mueve la navegación al extremo derecho verticalmente (si es necesario) */
}
.icon-button {
  margin-left: 20px; /* Espacio entre los botones de icono */
  align-items: center;
  margin-right: 20px;

}

@media (max-width: 768px) {
  /* Oculta el logo en pantallas pequeñas */
  .logo {
    display: none; /* Cambia "true" a "none" para ocultar el logo */
  }
}