<mat-toolbar color="primary" class="fixed-header">
  <!-- Logo a la izquierda -->
  <img src="../../../assets/dist/img/as-log.png" class="logo">
 
  
  <!-- Barra de navegación -->
  <mat-nav-list class="nav-list">
   </mat-nav-list>
   <button mat-icon-button (click)="goHome()" class="icon-button">
      <mat-icon>home</mat-icon>
   </button>
     <!-- Icono de Configuración -->
  <button mat-icon-button (click)="openSettings()" class="icon-button">
   <i class="fa fa-user-circle"></i>
</button>
  <!-- Icono de Cierre de Sesión -->
  <button mat-icon-button (click)="logout()" class="icon-button">
     <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>