<mat-toolbar color="primary" class="fixed-header">
  <!-- Logo (oculto en pantallas pequeñas) -->
  <a *ngIf="showLogo" class="logo-link">
   <img src="../../../assets/dist/img/as-log.png" class="logo-link" width="80">
  </a>

  <!-- Barra de navegación -->
  <mat-nav-list class="nav-list">
   
    <!-- Agregar más elementos de navegación según sea necesario -->
  </mat-nav-list>

  <!-- Icono de Cierre de Sesión -->
  <button mat-icon-button (click)="logout()" class="icon-button">
    <mat-icon>exit_to_app</mat-icon>
  </button>

  <!-- Icono de Configuración -->
  <button mat-icon-button (click)="openSettings()" class="icon-button">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>