.eliminar{
    color: #d9534f;
    cursor: pointer;
}
.btn-primary {
    background-color: #3498db; /* Color de fondo del botón Guardar/Editar */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados en el botón */
    color: #fff; /* Texto en color blanco */
  }
  
  .btn-secondary {
    background-color: #ccc; /* Color de fondo del botón Cancelar */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados en el botón */
    color: #fff; /* Texto en color blanco */
  }
  
  .text-danger {
    color: #d9534f; /* Color de texto rojo para los mensajes de error */
  }


  /* Estilos para el card personalizado */
.custom-card {
  width: 200px; /* Ajusta el ancho según tus preferencias */
  height: 250px; /* Ajusta la altura según tus preferencias */
  margin: 10px; /* Agrega margen para separar los cards */
}

