.bottom-grid-list {
    position: fixed;
    bottom: 0;
    left: 0; /* Opcional: ajusta el margen izquierdo según tus necesidades */
    right: 0; /* Opcional: ajusta el margen derecho según tus necesidades */
    background-color: #fff; /* Fondo del mat-grid-list */
    /* Añade otros estilos según tus preferencias */
  }