<h1>Menu Portafolios</h1>


<div class="mat-toolbar custom-style">
    <button mat-icon-button class="icon-button">
        <mat-icon>create</mat-icon>
    </button>

    <button mat-icon-button class="icon-button">
        <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button class="icon-button">
        <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button class="icon-button">
        <mat-icon>help</mat-icon>
    </button>

    <button mat-icon-button class="icon-button">
        <mat-icon>search</mat-icon>
    </button>

</div>

<br>
<br>
<div>
    <div class="d-inline-flex p-3 text-white">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="../../../assets/dist/img/Cuadro_gris.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Proyecto1</h5>
                        <p class="card-text">Este es un texto de ejemplo para contener la descripción del proyecto</p>
                        <a href="#" class="btn btn-primary">Editar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="../../../assets/dist/img/Cuadro_gris.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Proyecto2</h5>
                        <p class="card-text">Este es otro texto de ejemplo para contener la descripción del proyecto</p>
                        <a href="#" class="btn btn-primary">Editar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="../../../assets/dist/img/Cuadro_gris.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Proyecto3</h5>
                        <p class="card-text">Este es un tercer ejemplo de texto para la descripción del proyecto</p>
                        <a href="#" class="btn btn-primary">Editar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../../../assets/dist/img/Cuadro_gris.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Proyecto3</h5>
                        <p class="card-text">Este es un tercer ejemplo de texto para la descripción del proyecto</p>
                        <a href="#" class="btn btn-primary">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>
    <button id="agregarFila" class="btn btn-success">Agregar Fila</button>
    <br>
    <br>

    <div><button class="btn btn-primary" (click)="consultap()">Cargar</button></div>
    <br>

    <div class="table-responsive">
      <table class= "table table-hover">
          <tr>
            <th>Creador</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Archivo</th>
          </tr>
          <tr *ngFor="let item of listaPortafolio">
            <td>{{item.creador}}</td>
            <td>{{item.nombre}}</td> 
            <td>{{item.descripcion}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.estado}}</td>
            <td>{{item.archivo}}</td>
          </tr>
            
      </table>

    </div>

</div>
                
