<button class="btn btn-primary" (click)="mostrar(1)">Agregar portafolio</button><br><br> 
<br>
<div class="container" id="formulario" *ngIf="verf == true">
   <div class="row">
      <div class="col-lg-6 align-items-center">
         <input type="text" id="nombre" class="form-control" [(ngModel)]="uportafolio.nombre" placeholder="Nombre de portafolio ">
         <span style="color: brown;" *ngIf="validanombre == false">Nombre</span>
      </div>
      <div class="col-lg-6">
         <select id="descripcion" class="form-select" [(ngModel)]="uportafolio.descripcion" placeholder="seleccione">
            <option value="Artes y patrimonio" label="Artes y patrimonio">Artes y patrimonio</option>
            <option value="Industria Cultural" label="Industria Cultural">Industria Cultural</option>
            <option value="Creacion Funcional" label="Creacion Funcional">Empresas</option>
            </select>     
   
         <span style="color: brown;" *ngIf="validadescripcion == false">Insertar descripcion</span>
      </div>

      <div class="col-lg-6">
         <select id="tipo" class="form-select" [(ngModel)]="uportafolio.tipo" placeholder="seleccione">
         <option value="Profesional" label="Profesional">Profesional</option>
         <option value="Organizaciones" label="Organizaciones">Organizaciones</option>
         <option value="Empresas" label="Empresas">Empresas</option>
         <option value="Emprendimiento" label="Emprendimiento">Emprendimiento</option>
         </select>     

         <span style="color: brown;" *ngIf="validatipo == false">Insertar tipo</span>
      </div>
      <div class="col-lg-6">

         <select id="estado" class="form-select" [(ngModel)]="uportafolio.estado" placeholder="seleccione">
         <option value="Activar" label="Activar">activo</option>
         <option value="Desactivar" label="Desactivar">inactivo</option>
         </select>

         <span style="color: brown;" *ngIf="validatipo == false">Insertar tipo</span>
      </div>
      <div class="col-lg-12">
         <button *ngIf="beditar == false" class="btn btn-primary" (click)="ingresar()">Guardar</button>
         <button *ngIf="beditar == true" class="btn btn-primary" (click)="editar()">Editar</button>
         <button class="btn btn-secondary" (click)="mostrar(0)">Cancelar</button>
      </div>
   </div>
</div>
<br> 


<div class="container card">
   <div class="row">
     <div class="col-md-4 col-sm-6 col-12" *ngFor="let item of portafolio">
       <div class="card mb-3">
         <div class="card-body">
           <h5 class="card-title">{{ item.nombre }}</h5>
           <p class="card-text">Creador: {{ item.creador }}</p>
           <p class="card-text">Descripción: {{ item.descripcion }}</p>
           <p class="card-text">Tipo: {{ item.tipo }}</p>
           <p class="card-text">Estado: {{ item.estado }}</p>
           <a (click)="cargarDatos(item, item.id_portafolio)" class="btn btn-primary">Editar</a>
           <a (click)="preguntar(item.id_portafolio, item.nombre)" class="btn btn-danger">Eliminar</a>
         </div>
       </div>
     </div>
   </div>
 </div>
 