<div class="container"> <h1>Canales</h1>

    <button class="btn btn-primary" (click)="consultacanal()">Canales</button><br><br> 
    <div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Status</th>
            <th>Type</th>
            <th>Url</th>
        </tr>
        <!--    //mostrar canales - NOMBRAR == A COLUMNA BASE DE DATOS //  -->
        <tr *ngFor="let item of canales">
            <td>{{item.codigo}}</td>       
            <td>{{item.nombre}}</td>   
            <td>{{item.estado}}</td>  
            <td>{{item.tipo}}</td>  
            <td>{{item.url}}</td>  
        
        </tr>

    </table>
    </div>
</div>
<div class="container">
<div class="row">
<div class="container col-3"> 
    <h1>Areas Culturales</h1>
    <button class="btn btn-primary" (click)="consultap()">Areas</button><br><br> 
    <div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Code</th>
            
        </tr>
        <!--    //mostrar cada item de areas - NOMBRAR == A COLUMNA BASE DE DATOS ESTO ES SERVICIO PRUEBA  //  -->
        <tr *ngFor="let item of areas">
            <td>{{item.nombre}}</td>       
      
         </tr>

    </table>
    </div>
    <div class="container col-3"></div>
</div>

<div class="container col-3">
    <h1>Generales</h1>
<button class="btn btn-primary" (click)="recuentos()">recuento</button><br>
<br>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>categoria</th>
            <th>cantidad</th>
            
        </tr>
        <tr *ngFor="let item of recuento">
            <td>{{item.Categoria}}</td>
            <td>{{item.Cantidad}}</td> 
        </tr>
    </table>

</div>

</div>

</div>

</div>