<h1>Fromulario de Registro </h1> 

<div class="col-lg-10 col-12">
    <button class="btn btn-primary" (click)="mostrar(1)">Registrar perfil</button><br><br> 
    <div class="row">
        <div >
          <div class="card-form">
            <div id="formulario" *ngIf="mostrarFormulario == true">
              <h1>Información Básica</h1>
              <div class="row">
                <div class="col-lg-6 col-12">
                  <label for="nombre">Usuario</label>
                  <input type="email" id="usuario" class="form-control" [(ngModel)]="usuarioLoggeado.usuario" placeholder="Ingrese su correo" >
                  <span style="color: brown;" *ngIf="validausuario == false">Insertar usuario</span>
                </div>
                <div class="col-lg-6 col-12">
                  <label for="nombre">Contraseña</label>
                  <input type="password" id="clave" class="form-control" [(ngModel)]="usuarioLoggeado.clave" placeholder="Ingrese su contraseña" >
                  <span style="color: brown;" *ngIf="validaclave == false">Insertar clave</span>
                </div>
                <div class="col-lg-6 col-12 align-items-center">
                  <label for="nombre">Nombre de Usuario</label>
                  <input type="text" id="nombre" class="form-control" [(ngModel)]="usuarioLoggeado.nombre" placeholder="Ingrese su nombre" >
                  <span style="color: brown;" *ngIf="validanombre == false">Insertar nombre</span>
                </div>
              </div>
      
              <div class="form-group text-left col-lg-6 col-12">
                <label for="contacto">Contacto</label>
                <input type="text" class="form-control" id="contacto" placeholder="Número de contacto">
              </div>
      
             
              <div class="form-group text-left col-lg-6 col-12">
                <label for="canales">Canales</label>
                <input type="text" class="form-control" id="redes" placeholder="Canales">
              </div>
      
              
              <div class="form-group text-left col-lg-6 col-12">
                <label for="canales">Fecha de nacimiento</label>
                <input type="text" class="form-control" id="fecha" placeholder="Fecha">
              </div>
      
              
              <div class="form-group text-left col-lg-6 col-12">
                <label for="fotoPerfil">Foto de Perfil</label>
                <input type="file" class="form-control-file" id="fotoPerfil">
              </div>
      
              
              <div class="form-group text-left col-lg-6 col-12">
                <label for="idioma">Idioma</label>
                <select class="form-control" id="idioma">
                  <option value="es">Español</option>
                  <option value="en">Inglés</option>
                  <option value="fr">Francés</option>
                  <!-- Agrega más opciones según tus necesidades -->
                </select>
              </div>
              <div class="form-group text-left col-lg-6 col-12">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="privacidad">
                <label class="form-check-label" for="privacidad">Destacar</label>
              </div>
      
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="notificaciones">
                <label class="form-check-label">Recibir Notificaciones</label>
              </div>
            </div>
              
              <div class="form-group text-left col-lg-6 col-12">
                <label for="areas">Selecciona un área de Economía Naranja:</label>
                <select id="areas" name="areas" class="form-control">
                  <option value="Artes Visuales">Artes Visuales</option>
                  <option value="Cine y Audiovisual">Cine y Audiovisual</option>
                  <option value="Música">Música</option>
                  <option value="Literatura">Literatura</option>
                  <option value="Diseño">Diseño</option>
                  <option value="Artes Escénicas">Artes Escénicas</option>
                  <option value="Software y Videojuegos">Software y Videojuegos</option>
                  <option value="Publicidad y Marketing">Publicidad y Marketing</option>
                  <option value="Patrimonio Cultural">Patrimonio Cultural</option>
                  <option value="Moda">Moda</option>
                  <option value="Gastronomía">Gastronomía</option>
                  <option value="Arquitectura">Arquitectura</option>
                  <option value="Turismo Cultural">Turismo Cultural</option>
                </select>
              </div>
      
              
              <div class="form-group text-left col-lg-6 col-12">
                <label for="pais">País</label>
                <input type="text" class="form-control" id="pais">
              </div>
      
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
          </div>
        </div>
      </div>
      

</div>
