li {
    display: list-item;
  }

// ESTILOS PARA LA CAJA CONTENEDORA 
  .caja-contenedora{
    background-color: mediumturquoise;
    text-align: center;
    width: 50%;
    box-sizing: content-box;


  }

  .border{
    
  width: 100%;
  padding: 220px;
  border: 20px solid gray;
  margin: 0;
  }